.sectionAlbumDetail {
  margin-top: 0.5em;
  padding: 1em;
}
.albumDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
